.pp-dev-info {
  position: fixed;
  z-index: 10000;
  min-width: 800px;
  width: fit-content;
  height: 30px;
  top: calc(100% - 30px);
  right: 0;
  text-align: center;
  padding: 5px 20px;
  background: #eeeeee;
  border-radius: 3px 0 0 0;
}
